{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>

        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            {%- if link.url contains 'http' -%}
              {%- assign href = link.url -%}
            {%- else -%}
              {%- assign href = link.url | relative_url -%}
            {%- endif -%}

            {%- assign page_path = page.url | replace: 'index.html','' -%}
            {%- assign link_path = link.url | replace: 'index.html','' -%}

            {%- if page_path == link_path -%}
              {%- assign active = ' current' -%}
            {%- elsif page_path == '/' and link_path == '/' -%}
              {%- assign active = ' current' -%}
            {%- else -%}
              {%- assign active = '' -%}
            {%- endif -%}

            <li class="masthead__menu-item{{ active }}">
              <a href="{{ href }}"{% if active != '' %} aria-current="page"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>

        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>